.Controls {
    bottom: 1.2rem;
    left: 1.2rem;
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    padding: 0.75rem;
    background: #fefefe;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.351);
    border-radius: 0.75rem;
    font-size: 1.15rem;
}

.Controls .timetable span {
    font-weight: 500;
}

.Controls .container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.Controls .timetable > * {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.Controls .timetable {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.Controls .timetable input, select {
    text-align: center;
    text-align-last: center;
    font-family: inherit;
    width: 11rem;
}

.Controls .timetable input {
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid
}

.Controls .traficLines img {
    border-radius: 0.2rem;
    width: 4rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.261);
    transition: all 0.2s;
}


.Controls .traficLines {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background: inherit;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: inherit;
}

.Controls .traficLines:hover img {
    transform: scale(1.09);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
