.Controls {
    bottom: 1.2rem;
    left: 1.2rem;
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    padding: 0.5rem;
    background:#fefefe;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.351);
    box-sizing: border-box;
    border-radius: 0.5rem;
}


.Controls .container {
    display: flex;
    gap: 1rem;  
}

.Controls .container > *:hover {
    background: #f4f4f4;
}

.Controls .timetable {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Controls .timetable > * {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}