.Menu {
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgba(0, 0, 0, 0.101);
    border-radius: 0.5rem;
}

.Menu h1 {
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.Menu .intro {
    max-width: 25rem;
}
