.Menu {
    top: 1.2rem;
    left: 1.2rem;
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    padding: 1rem;
    background:#fefefe;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.351);
    box-sizing: border-box;
    border-radius: 0.5rem;
    max-width: 30rem;
}

.Menu .logo {
    display: flex;
    align-items: center;
}

.Menu h1 {
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.Menu .intro {
    max-width: 25rem;
    line-height: normal;
    margin-bottom: 1rem;
}
