.Sidebar {
    top: 1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    height: calc(100% - 2.4rem);
    position: absolute;
    box-sizing: border-box;
    width: 28rem;
    background:#fefefe;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.350);
    border-radius: 1.2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.Sidebar .header {
    position: sticky;
    top: 0;
    left: 0;
    /* margin: 0.5rem; */
    z-index: 100;
    background: inherit;
}

.Sidebar h1.heading {
    /* margin-top: 0.5rem;
    margin-bottom: 0rem; */
    line-height: normal;
    max-width: calc(100% - 4rem);
    margin-left: 1rem;
    box-sizing: border-box;
}

.Sidebar button.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding:0.5rem;
    background: inherit;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.2s;
    border: solid 1px transparent;
    z-index: 100;
}

.Sidebar .closeButton:hover {
    border: solid 1px rgba(0, 0, 0, 0.351);
}

.Sidebar .infoBoxes {
    display:flex;
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 1rem;
}

.Sidebar .content {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.Sidebar .TooltipContent {
    background: #FFFFFF;
    border-radius: 0.5rem;
    color:#15141A;
    margin: 0;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    height: 4.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Sidebar .TooltipContent p {
    margin: 0;
    padding: 0;
}

.Sidebar .TooltipContent p.label {
    font-size: 1.2rem;
    font-weight: 500;
}

.Sidebar .TooltipContent p.data {
    font-size: 1rem;
}


.Sidebar .optimalStopList {
    display: flex;
    justify-content: space-between;
    transition: opacity 0.2s;
}


.Sidebar .optimalStopListContainer button {
    margin-top: 0.5rem;
    background: none;
    box-shadow: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    opacity: 0.6;
    transition: opacity 0.2s;
}


.Sidebar .optimalStopListContainer button:hover {
    opacity: 1;
}
